*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(37,37,37)
}

body{
  height: 100vh;
  background-color: rgb(145,10,155);
  display: flex;
  justify-items: center;
  align-items: center;
}

.skill{
  width: 450px;
  height: 450px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
  row-gap: 20%;
  flex-direction: column;
}

p{
  font-size: 30px;
}
span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.barra{
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(rgb(78,236,20) 30deg, rgb(230,224,224) 0deg);
}

.barra:before{
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 260px;
  height: 260px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}